<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/favicon.svg" />
    {{ with resources.Get "css/main.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" />
    {{ end }} {{ with resources.Get "js/main.js" | minify | fingerprint }}
    <script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}"></script>
    {{ end }} {{ if .Param "math" }} {{ partialCached "math.html" . }} {{ end }}
    <title>{{ .Title }} :: {{ .Site.Title }}</title>
    {{ partial "opengraph.html" . }}
  </head>
  <body>
    <div style="max-width: 480px; margin: 0 auto; padding: 1rem">
      <header
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 24px;
        "
      >
        <div style="font-size: 16px; font-weight: bold; font-family: Recipekorea">
          <a href="/">argo</a>
        </div>
      </header>
      <main>{{ block "main" . }}{{ end }}</main>
      <footer style="margin-top: 24px; font-size: 11px; color: var(--grey)">
        <p>내용</p>
      </footer>
    </div>
  </body>
</html>
