{{ define "main" }}
<div style="display: flex; flex-direction: column; justify-content: center; margin: 60px 0">
  <div style="font-size: 48px; font-weight: bold; line-height: 1.2; font-family: Recipekorea; word-break: keep-all">{{ .Title }}</div>
  <div style="color: var(--grey)">{{ .Params.Description }}</div>
</div>
{{ .Content }}
<h2>모든 글</h2>
{{ partial "paginated-list.html" (.Paginate .Site.RegularPages 10) }}
<h3>카테고리</h3>
<p>
  {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
    <a href="{{ "/categories/" | relURL }}{{ $name | urlize }}" style="margin-right: 10px">{{ $name }}</a>
  {{ end }}
</p>
{{ end }}
